body {
    font-family: 'Lucida Sans Unicode';
    width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 0;
}

.color1 {
    color: rgb(0, 153, 0);
}

.color2 {
    color: peru;
}

h2 {
    color: rgb(51, 204, 51);
    border-bottom: 1px solid rgb(184, 185, 187);
}

h3 {
    color: peru;
}

section {
    float: right;
    width: 75%;
    text-align: justify;
    border: 1px solid rgb(184, 185, 187);
    padding: 0 15px;
    margin-right: 10px;
    background: linear-gradient(#f2f2f2, white, white, #f2f2f2);
}

aside {
    float: left;
    width: 18%;
}

.button {
    background: linear-gradient(to bottom, white 15%, rgb(204, 255, 153));
    border: 1px solid rgb(184, 185, 187);
    color: white;
    padding: 8px 10px;
    margin-bottom: 6px;
    text-align: center;
    list-style: none;
}

li a {
    outline: none;
    text-decoration: none;
}

a:visited {
    color: gray;
}

li:hover {
    background: linear-gradient(to bottom, white 15%, rgb(212, 192, 172));
}

header {
    height: 175px;
    width: 850px;
    margin: 0 auto;
    background: url('./img/panoramica.jpg');
}

footer {
    margin-right: 9%;
    float: right;
    font-size: 0.85rem;
    font-style: italic;
    color: rgb(184, 185, 187);
}

a {
    outline: rgb(184, 185, 187);
}

#borderBody {
    margin: 15px;
    border: 1px solid rgb(184, 185, 187);
    border-radius: 15px;
}